<div>
    <h1>EMPRESA - NUESTRA HISTORIA</h1>
    <p>Kual es una pequeña empresa familiar, ubicada en Rafaela (provincia de Santa Fe), una de las cuencas lecheras más importantes de Argentina.</p>
    <p>Durante sus estudios de ingeniería mecánica en la Universidad Tecnológica Nacional, el titular de esta empresa  investiga sobre nuevas posibilidades de materiales para la elaboración de moldes de queso que ya se implementaban en Europa.</p>
    <p>Hacia fines del 2003, luego de la crisis en Argentina,  los precios de importación se vuelven insostenibles. Así comienza el antecedente de Kual S.A. en Rafaela, cuando el director de la empresa actual propone y comienza a producir en una fábrica local los nuevos moldes plásticos de queso al alcance de la industria nacional. De hecho los primeros moldes se venden a los queseros de la zona.</p>
    <p>La fábrica comenzó con el bimolde dambo micro-perforado y a partir de distintas necesidades, se fue ampliando la gama con la fabricación de distintos modelos de moldes.</p>
    <p>Sucesivamente se abrirá el mercado a Chile, Brasil, Paraguay, Uruguay, Ecuador, Perú, Bolivia y México.</p>
    <p>En mayo del 2009 surge KUAL como fábrica propia cuya actividad es específica y exclusivamente producir moldes plásticos micro-perforados para quesos.</p>
    <p>A fines el 2009 KUAL exporta moldes a Inglaterra y Dinamarca.</p>
    <p>Desde que comenzó a trabajar en la sede de J.A. Álvarez la fábrica triplicó los equipos de producción y se hicieron importantes inversiones en equipos de soldaduras plásticas.</p>

    <h1>OBJETIVOS</h1>
    <p>Hacer de nuestro producto la mejor respuesta a la necesidad de nuestros clientes.</p>
    <p>Trabajar con calidad de Exportación.</p>
    <p>Ampliar el mercado de esta industria hacia Latinoamérica y resto del mundo.</p>
    <h1>VALORES</h1>
    <p>Innovación constante. Invertimos en la investigación con criterios éticos para lograr un producto cada vez más eficaz  y  satisfactorio.</p>
    <p>Calidad. Elección de los materiales adecuados para un trabajo personalizado y detallista.</p>
    <h1>RESPONSABILIDAD</h1>
    <p>Somos responsables por la higiene, seguridad de nuestros empleados y el correcto manejo de nuestra maquinaria.</p>
    <p>Para generar el menor impacto ambiental con nuestra actividad cuidamos el correcto uso de los recursos energéticos así como el tratamiento adecuado de los desechos.</p>
</div>