<div>
    <h1>Ordenar un producto Kual</h1>
    <p>Para preguntas y precios por favor, consúltenos.</p>
    <p>Para ordenar nuestros moldes  puede ud. Ponerse en contacto via telefónica o correo electrónico con nuestra empresa y nos transmitirá el producto que necesita.</p>
    
    <h1>Ensayo</h1>
    <p>De ser posible, y según el tipo de producto que solicite  visitaríamos su empresa personalmente para el ensayo con nuestro equipamiento de testeo.</p>
    <p>En su defecto le mandaríamos moldes de prueba por uno de los servicios de correspondencia disponible.</p>

    <h1>Envios</h1>
    <p>Una vez terminada su orden, será controlada a mano en nuestra fábrica.</p>
    <p>Enviaríamos entonces los productos esperando el resultado de un chequeo del maestro quesero.</p>
</div>